ol {
  padding: 0;
}

.history-collab {
  width: 500px;
  margin: 0px auto;  
  margin-bottom: 15px;
  padding: 10px 0;
  font-family: 'cabin', Helvetica, sans-serif;
  list-style: none;        
  background-color: #40739e;
  color: #f1f2f6;  
  box-shadow: 2px 2px 4px rgba(45, 52, 54, 0.5)
}

@media (max-width: 500px) {
  .history-collab {
    width: 80vw;
  }
}

.history-collab:nth-child(odd) {
  background-color: #0097e6;
}