.square-collab {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #5c5ce7;
  width: 33.333%;
  height: 33.333%;
  font-size: 30px;
  color: #e84383;
  cursor: pointer;
  vertical-align: top;
}