.next-player {
  box-sizing: border-box;
  width: 500px;
  margin: 30px auto; 
  padding: 10px;
  color: #fff;  
  background-color: #558B2F;
  font-family: 'cabin', Helvetica, sans-serif;
  
}

@media (max-width: 500px) {
  .next-player {
    width: 80vw;
    
  }
}